url: https://bioinfo-geek.github.io
#url: http://0.0.0.0:4000
baseurl: /improved-journey-jekyll-test
#https://bioinfo-geek.github.io/improved-journey-jekyll-test
# Site settings
            
title: Improved Journey
email: your-email@domain.com
description: "Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description."

defaults:
    -
        scope:
            path: "_posts"
            type: "posts"
        values:
            permalink: /actu/:year/:month/:day/:title/
            layout: post
            alt: image-alt

# Use hidden as hash name to avoid adding a navigation link to the navbar
scrollnav:
  - hidden: "0front"
  - Actualité récente: "actualite-recente"
  - À propos: "a-propos"
  - L'équipe: "equipe"
  - Partenaires: "partenaires"
  #- Nous joindre: "contact"

nav:
  - Actualité: "/actu/"
  - Galerie Photo: "/galerie-photo/"

# Team names, titles and social links
people:
- name: Kay Garland
  pic: 1
  position: Lead Designer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: stack-overflow
      url: #

- name: Larry Parker
  pic: 2
  position: Lead Marketer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: linkedin
      url: #

- name: Diana Petersen
  pic: 3
  position: Lead Developer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: google-plus
      url: #

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  #- title: twitter
    #url: http://twitter.com/jekyllrb
  - title: facebook
    url:
  - title: envelope
    url:
  #- title: stack-overflow
    #url: http://stackoverflow.com/questions/tagged/jekyll
  #- title: bitbucket 
    #url: http://bitbucket.org/jekyll
  - title: github
    url: http://github.com/bioinfo-geek/improved-journey-jekyll-test

# Postal address (add as many lines as necessary)
#address:
  #- line: 3481 Melrose Place
  #- line: Beverly Hills, CA 90210

paginate: 3
paginate_path: "/actu/all/page:num"

  
exclude: ["less","node_modules","Gruntfile.js","package.json", "Gemfile","Gemfile.lock","generate-photo-galleries.sh", "*.gallerie.conf", "docs/" ]

gems: 
 - jekyll-paginate
 - jekyll-sitemap
  
# Build settings
markdown: kramdown
permalink: pretty

# SiteMap
sitemap:
    file: "/sitemap.xml"
    exclude:
        - "/atom.xml"
        - "/feed.xml"
        - "/feed/index.xml"
    include_posts:
        - "/writing/"
    change_frequency_name: "change_frequency"
    priority_name: "priority"