<!-- Services Section -->
    <section id="0front">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Front info Title</h2>
                    <h3 class="section-subheading text-muted">Front info subtitle</h3>
                </div>
            </div>
            <div class="row text-center">
            
            <p>Front info</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas orci lacus, nec volutpat justo egestas quis. Aliquam quis nisl malesuada, blandit magna sed, dignissim lectus. In mi magna, consectetur iaculis laoreet in, bibendum et urna. Phasellus tincidunt faucibus quam in dignissim. Vestibulum eget ipsum lacus. Etiam eget luctus tellus. In nec luctus lectus, ac placerat leo. Aenean magna nisi, consectetur ut luctus fringilla, auctor vitae neque. Curabitur hendrerit sollicitudin posuere. Nulla eget sapien at tortor facilisis facilisis. Aliquam erat volutpat. Morbi quis consequat diam, sit amet vulputate justo. Aliquam arcu enim, lacinia vitae hendrerit quis, ultrices in odio. Praesent euismod gravida feugiat. Mauris magna odio, scelerisque eget convallis et, tempus vitae mauris.</p>

            <span class="fa-stack fa-4x">
		  <i class="fa fa-circle fa-stack-2x text-primary"></i>
		  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
	    </span>
            
	    <p>Vivamus mollis justo ultrices pulvinar posuere. Phasellus at aliquet dui. Vivamus suscipit placerat viverra. Fusce semper lacus id odio maximus pellentesque. Praesent dictum dignissim hendrerit. Vestibulum in odio tincidunt, molestie sapien sit amet, pharetra tortor. Morbi a consequat risus, ac varius purus. Vivamus aliquet eu est non suscipit.</p>
            </div>
        </div>
    </section>