---
layout: default
---

<!-- include infinitscroll reqirement (jquery min)-->
<script src="{{ site.baseurl }}/js/jquery-1.11.2.min.js"></script>
<!-- include infinitscroll plugins -->
<script src="{{ site.baseurl }}/js/infinitescroll.js"></script>


<section id="{{ page.title }}">
  <div class="container">
    <div class="row text-center">
      <div class="post-list" style="display: inline-block; width: 100%;">
	  {% for post in paginator.posts %}
	  <div class="post" style="float: left; width: 50%">
	    <header class="post-header">
	      <h1 class="post-title">
		  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	      </h1>
	    </header>
	    <ul class="list-inline item-details">
	      <li>
		Date: <strong> {{ post.date | date: "%Y-%m-%d" }} </strong>
	      </li>
	      {% if post.author %}
	      <li>
		Auteur: <strong> {{ post.author }} </strong>
	      </li>
	      {% endif %}
	    </ul>
	    <div>
	      <a href="{{ post.url | prepend: site.baseurl }}">
		<img src="{{ post.thumbnail | prepend: site.baseurl}}" />
	      </a>
	    </div>
	    <article>
	      {{ post.excerpt | markdownify }}
	    </article>
	  </div>
	  {% endfor %}

	<!-- Pagination links -->
	<div class="paginationnav">
	  {% if paginator.previous_page %}
	    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}/" class="previous">Previous</a>
	  {% endif %}
	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}/" class="next">Next</a>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
</section>