---
layout: page
---

<!-- include infinitscroll reqirement (jquery min)-->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- include infinitscroll plugins -->
<script src="{{ site.baseurl }}/js/infinitescroll.js"></script>

<div class="post-list">
    {% for post in paginator.posts %}
    <div class="post">
      <header class="post-header">
        <h1 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <ul class="list-inline item-details">
	  <li>
	    Date: <strong> {{ post.date | date: "%Y-%m-%d" }} </strong>
	  </li>
	  {% if post.author %}
	  <li>
	    Auteur: <strong> {{ post.author }} </strong>
	  </li>
	  {% endif %}
      </header>
      <article class="post-content">
        {{ post.excerpt | markdownify }}
      </article>
      <hr/>
    </div>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
  {% endif %}
</div>